#body {
 display: grid;
 grid-template-columns: 1fr 5fr;
 overflow: hidden;
 background-image: url("./Image_reference/space.png");
 background-size: cover;
}

.rocket {
 height: 40rem;
 margin-top: -10rem;
}

#fusDiv {
 position: relative;
 display: grid;
 align-items: center;
 margin-left: 3rem;
 height: 100rem;
}

#top-box {
 display: flex;
 justify-content: space-evenly;
}

#fullscreen-btn {
 height: 5rem;
 border-radius: 10px;
}

#correct-msg {
 font-weight: bold;
 display: block;
 color: white;
 font-size: 10rem;
}

#reset-btn {
 height: 4rem;
 border-radius: 10px;
}


.input-box {
 display: grid;
 margin: 5px 7vw 5px 1vw;
 border-radius: 10px;
 grid-template-columns: 6fr 1fr;
}

#input-bar {
 border-radius: 3rem;
}

#play-btn {
 border-radius: 5px;
 height: 5rem;
 min-width: 12rem
}

#keyboard {
 display: flex;
 flex-direction: column;
}

.row {
 display: flex;
 justify-content: center;
}

.key {
 justify-content: center;
 width: 8rem;
 height: 5rem;
 margin: 3px;
 border: none;
 border-radius: 50px;
 text-align: center;
 display: flex;
 align-items: center;
 line-height: 40px;
 font-size: 2rem;
 background-color: #008080;
 color: #fff;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 transition: all 0.2s ease-in-out;
}

.key:hover {
 background-color: #00bfff;
 transform: translateY(-5px);
 box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.key:active {
 transform: translateY(0px);
 box-shadow: none;
}

#fusDiv {
 position: relative;
}

#fuel {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
}

#reservoir {
 width: 3.5rem;
 height: 15rem;
 border: 2px solid #000;
 background-color: #ccc;
 position: absolute;
 bottom: 35rem;
 transform: translateX(-40%);
}

button {
 border: none;
 border-radius: 50px;
 color: #fff;
 background-color: #008080;
 font-size: 1.5rem;
 font-weight: bold;
 padding: 1rem 2rem;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 margin: 1rem;
 transition: all 0.2s ease-in-out;
 box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
 background-color: #00bfff;
 transform: translateY(-5px);
 box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

button:active {
 transform: translateY(0px);
 box-shadow: none;
}




