#body {
 display: grid;
 grid-template-columns: 1fr 5fr;
 overflow: hidden;
}

.rocket {
 height: 40rem;
 margin-top: -10rem;
}

#fusDiv {
 position: relative;
 display: grid;
 align-items: center;
 margin-left: 3rem;
 height: 100rem;
}

#top-box {
 display: flex;
 justify-content: space-evenly;
}

#fullscreen-btn {
 height: 4rem;
 border-radius: 10px;
}

#reset-btn {
 height: 4rem;
 border-radius: 10px;
}

.input-box {
 display: grid;
 margin: 5px 7vw 5px 1vw;
 border-radius: 10px;
 grid-template-columns: 6fr 1fr;
}

#input {

}

#play-btn {
 border-radius: 5px;
 height: 5rem;
 min-width: 12rem
}

#keyboard {
 display: flex;
 flex-direction: column;
}

.row {
 display: flex;
 justify-content: center;
}

.key {
 justify-content: center;
 width: 8rem;
 height: 5rem;
 margin: 3px;
 border: 1px solid black;
 border-radius: 3px;
 text-align: center;
 display: flex;
 align-items: center;
 line-height: 40px;
 font-size: 2rem;
}

#fusDiv {
 position: relative;
}

#fuel {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
}

#reservoir {
 width: 3rem;
 height: 15rem;
 border: 2px solid #000;
 background-color: #ccc;
 position: absolute;
 bottom: 35rem;
 /* left: 50%; */
 transform: translateX(-50%);
 transition: height 0.2s ease-in-out;
}

/* #scoreBar {
 width: 2rem;
 height: 0;
 border: 2px solid #fff;
 border-bottom: none;
 background-color: #fff;
} */

#scoreBar:before {
 content: "";
 display: block;
 width: 100%;
 height: 0.5rem;
 background-color: #fff;
 position: absolute;
 top: -0.5rem;
 left: 0;
}

#scoreDisplay {
 position: absolute;
 bottom: calc(100% + 1rem);
 left: 50%;
 transform: translateX(-50%);
 font-size: 1rem;
 color: #fff;
 text-align: center;
}


